<div *ngIf="searchOnly"><ng-container *ngTemplateOutlet="searchOnlyStyle"></ng-container></div>
<div *ngIf="!searchOnly && icon === ''"><ng-container *ngTemplateOutlet="searchAndSelectStyle"></ng-container></div>
<div *ngIf="icon !== ''"><ng-container *ngTemplateOutlet="buttonDropdownStyle"></ng-container></div>

<ng-template #searchOnlyStyle>
  <mat-form-field class="dropdown-wrapper">
    <mat-label *ngIf="label !== 'city'">Select {{label}}s</mat-label>
    <mat-label *ngIf="label === 'city'">Select cities</mat-label>
    <mat-select 
      multiple
      [(ngModel)]="displayedOptions"
      (selectionChange)="selectionChange($event.value)" 
      (openedChange)="clearSearch('')"
      [compareWith]="compareObjects" 
    >
      <div class="filter-input-div">
        <input matInput (keyup)="applySearch($event)" placeholder="Search" [(ngModel)]="filterValue" class="filter-input-form">
        <mat-icon class="input-icon">search</mat-icon>
      </div>
      <mat-option *ngFor="let item of searchableData" [value]="item">
        {{item.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #searchAndSelectStyle>
  <mat-form-field class="dropdown-wrapper" *ngIf="label !== ''">
    <mat-label *ngIf="label !== 'city'">Select {{label}}s</mat-label>
    <mat-label *ngIf="label === 'city'">Select cities</mat-label>
    <mat-select 
      multiple
      [(ngModel)]="displayedOptions"
      (selectionChange)="selectionChange($event.value)" 
      (openedChange)="clearSearch('')"
      [compareWith]="compareObjects" 
    >
      <div class="filter-input-div">
        <input matInput (keyup)="applySearch($event)" placeholder="Search" [(ngModel)]="filterValue" class="filter-input-form">
        <mat-icon class="input-icon">search</mat-icon>
      </div>
      <div class="select-all-wrapper">
        <mat-label *ngIf="label !== 'city'" class="select-all-text">Select all {{label}}s</mat-label>
        <mat-label *ngIf="label === 'city'" class="select-all-text">Select all cities</mat-label>
        <mat-slide-toggle (change)="selectAllToggle($event)" [checked]="selectAll"></mat-slide-toggle>
      </div>
      <mat-option *ngFor="let item of searchableData" [value]="item">
        {{item.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #buttonDropdownStyle>
  <button [matMenuTriggerFor]="filterMenu" (menuOpened)="menuOpened()" class="dropdown-trigger-button clickable"  *ngIf="label !== '' && searchableData.length > 0">
    <div class="filter-button">
      <mat-icon class="button-icon">{{icon}}</mat-icon>
      <div class="active-filter-badge" *ngIf="showBadge && selectedOptions.length > 0">{{selectedOptions.length}}</div>
    </div>
  </button>
  <mat-menu #filterMenu="matMenu" class="dropdown-menu">
    <div class="filter-input-div" (click)="$event.stopPropagation();">
      <input matInput (keyup)="applySearch($event)" [(ngModel)]="filterValue" placeholder="Search">
      <mat-icon *ngIf="filterValue.length === 0" class="input-icon">search</mat-icon>
      <mat-icon *ngIf="filterValue.length > 0" (click)="clearSearch('')" class="input-icon clickable">close</mat-icon>
    </div>
    <div class="select-all-wrapper" *ngIf="filterValue === '' && limit === searchableData.length">
      <mat-label *ngIf="label !== 'city'" class="select-all-text">Select all {{label}}s</mat-label>
      <mat-label *ngIf="label === 'city'" class="select-all-text">Select all cities</mat-label>
      <mat-slide-toggle (click)="$event.stopPropagation();" (change)="selectAllToggle($event)" [checked]="selectAll"></mat-slide-toggle>
    </div>
    <div *ngFor="let dropdownOption of searchableData" [matTooltip]="(selectedOptions.length >= limit && !isSelected(dropdownOption)) ? limitTooltip : ''">
      <button
        [disabled]="selectedOptions.length >= limit && !isSelected(dropdownOption)" 
        [class.selected]="isSelected(dropdownOption)" 
        [value]="dropdownOption" 
        (click)="selectMenuItem(dropdownOption, $event)"
        class="mat-menu-item check-wrapper">
        <mat-icon class="empty checkbox-unchecked-color">check_box_outline_blank</mat-icon>
        <mat-icon class="checked checkbox-checked-color">check_box</mat-icon> 
        <span class="dropdown-option-text">{{ dropdownOption.value }}</span>
      </button>
    </div>
  </mat-menu>
</ng-template>