:host ::ng-deep .dropdown-wrapper .mat-mdc-text-field-wrapper {
	border-radius: 28px;
}

.select-all-wrapper {
  padding: 0 16px 16px 16px;
}

.select-all-text {
	font-size: 14px;
	margin-right: 6px;
}

.filter-input-div {
  height: 24px;
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin: 15px;
  border-radius: 4px;
  border: 1px solid blue;
  flex-grow: 100;
}

.filter-input-form {
  width: 100%;
  border: 0;
  font-size: 14px;
}

input:focus {
	border: 0;
	outline: 0;
}