.dropdown-mat-form {
  height: 50px;
	margin: 0 20px 20px 0;
  padding: 0 4px 0 4px;
  background: red;
  border-radius: 4px;
}

.filter-input-div {
  height: 10px;
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin: 15px;
  border-radius: 4px;
  border: 1px solid gray;
  flex-grow: 100;
}

.filter-input-form {
  width: 100%;
  border: 0;
  font-size: 14px;
}