:host ::ng-deep .dropdown-wrapper .mat-mdc-text-field-wrapper {
  border: 1px solid #13A974;
	border-radius: 28px;
  background-color: #41CE8A;
}

.clickable {
  cursor: pointer;
}

.select-all-wrapper {
  padding: 0 16px 16px 16px;
}

.select-all-text {
	font-size: 14px;
	margin-right: 6px;
}

.filter-input-div {
  height: 24px;
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin: 15px;
  border-radius: 4px;
  border: 1px solid #233559;
  flex-grow: 100;
}

.filter-input-form {
  width: 100%;
  border: 0;
  font-size: 14px;
}

input {
  border: 0;
  outline: 0;
  & input:focus {
    border: 0;
    outline: 0;
  }
}

.filter-button {
  position: relative;
}

.mat-menu-item {
  .mat-icon.checked {
    display: none;
    pointer-events: none;
  }
  .mat-icon.empty {
    pointer-events: none;
  }
}

.mat-menu-item.selected {
  .mat-icon.empty {
    display: none;
  }
  .mat-icon.checked {
    display: unset;
  }
}

.check-wrapper {
  border: none;
  outline: none;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.active-filter-badge {
  position: absolute;
  right: -20px;
  top: -12px;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #FF7038;
  color: white;
}

.dropdown-option-text {
  font-size: 16px;
  margin-left: 10px;
}

.checkbox-color {
  color: #3f51b5;
}

.dropdown-trigger-button {
  height: 40px;
  width: 50px;
  background-color: #86CDE4;
  border: 1px solid #05465F;
  border-radius: 6px;
  margin-top: 9px;
}

.dropdown-trigger-button:hover {
  background-color: #2E98CC;
}

.button-icon {
  color: #05465F;
}

.dropdown-trigger-button:hover .button-icon{
  color: whitesmoke;
}