.parent-container {
  height: 100vh;
	width: 100vw;
	background-color: #FAFAFA;
}

.dropdowns-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-wrapper {
	margin: 0 12px;
	max-width: 230px;
	height: 25%;
}

.button-dropdown {
	display: flex;
	justify-content: center;
}

:host ::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
	justify-content: center;
}

.chips-container-margin {
	margin-top: 22px;
}