<div class="parent-container">
  <div class="dropdowns-container">
    <div class="dropdown-wrapper">
      <h4>Filter dropdown with search and select all functionality</h4>
      <div class="select-dataset-text">Select a dataset</div>
      <mat-radio-group aria-label="Select an option" (change)="selectDataset($event.value, 0)">
        <mat-radio-button *ngFor="let option of datasetOptions" [value]="option">{{option}}</mat-radio-button>
      </mat-radio-group>
      <filter-dropdown 
        [label]="selectedDatasetOneLabel"
        [dataset]="selectedDatasetOne"
        (dropdownSelectionChange)="updateSelectedItems($event, 0)"
        [datasetChanged$]="datasetOneChanged$">
      </filter-dropdown>
      <mat-chip-listbox>
        <div *ngFor="let option of firstOptions">
          <mat-chip>{{option.value}}</mat-chip>
        </div>
      </mat-chip-listbox>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <h4>Filter dropdown with only search functionality</h4>
      <filter-dropdown 
        label="composer"
        [dataset]="composersDataset"
        [searchOnly]="true"
        (dropdownSelectionChange)="updateSelectedItems($event, 1)">
      </filter-dropdown>
      <mat-chip-listbox>
        <div *ngFor="let option of secondOptions">
          <mat-chip>{{option.value}}</mat-chip>
        </div>
      </mat-chip-listbox>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <h4>Filter dropdown triggered by button with search and select all functionality</h4>
      <filter-dropdown 
        label="genre"
        [dataset]="musicGenresDataset"
        icon="library_music"
        [showBadge]="true"
        (dropdownSelectionChange)="updateSelectedItems($event, 2)"
        class="button-dropdown">
      </filter-dropdown>
      <div class="chips-container-margin">
        <mat-chip-listbox>
          <div *ngFor="let option of thirdOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <h4>Filter dropdown triggered by button with search and selection limit functionality</h4>
      <div class="select-dataset-text">Select a dataset</div>
      <mat-radio-group aria-label="Select an option" (change)="selectDataset($event.value, 1)" class="radio-buttons-container">
        <mat-radio-button *ngFor="let option of datasetOptions" [value]="option">{{option}}</mat-radio-button>
      </mat-radio-group>
      <filter-dropdown 
        [label]="selectedDatasetTwoLabel"
        [dataset]="selectedDatasetTwo"
        [icon]="datasetTwoIcon"
        [showBadge]="true"
        [limit]="3"
        (dropdownSelectionChange)="updateSelectedItems($event, 3)"
        [datasetChanged$]="datasetTwoChanged$"
        class="button-dropdown">
      </filter-dropdown>
      <div class="chips-container-margin">
        <mat-chip-listbox>
          <div *ngFor="let option of fourthOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
  </div>
</div>