<div class="parent-container">
  <div class="dropdowns-container">
    <filter-dropdown 
      label="food"
      [dataset]="foodsDataset"
      class="dropdown-wrapper"
    >
    </filter-dropdown>
    <filter-dropdown 
      label="composer"
      [dataset]="composersDataset"
      [searchOnly]="true"
      class="dropdown-wrapper"
    >
    </filter-dropdown>
    <filter-dropdown 
      label="composer"
      [dataset]="composersDataset"
      icon="library_music"
      [showBadge]="true"
      class="dropdown-wrapper"
    >
    </filter-dropdown>
    <filter-dropdown 
      label="city"
      [dataset]="citiesDataset"
      icon="location_city"
      [showBadge]="true"
      class="dropdown-wrapper"
    >
    </filter-dropdown>
  </div>
</div>