<div class="parent-container">
  <div class="dropdowns-container">
    <div class="dropdown-wrapper">
      <div class="select-dataset-text">Select a dataset</div>
      <mat-radio-group aria-label="Select an option" (change)="selectDataset($event.value, 0)">
        <mat-radio-button *ngFor="let option of datasetOptions" [value]="option">{{option}}</mat-radio-button>
      </mat-radio-group>
      <filter-dropdown 
        [label]="selectedDatasetOneLabel"
        [dataset]="selectedDatasetOne"
        (dropdownSelectionChange)="updateSelectedItems($event, 0)"
        [datasetChanged$]="datasetOneChanged$">
      </filter-dropdown>
      <div class="chips-container">
        <mat-chip-listbox>
          <div *ngFor="let option of firstOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <filter-dropdown 
        label="composer"
        [dataset]="composersDataset"
        [searchOnly]="true"
        (dropdownSelectionChange)="updateSelectedItems($event, 1)">
      </filter-dropdown>
      <div class="chips-container">
        <mat-chip-listbox>
          <div *ngFor="let option of secondOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <filter-dropdown 
        label="genre"
        [dataset]="musicGenresDataset"
        icon="library_music"
        [showBadge]="true"
        (dropdownSelectionChange)="updateSelectedItems($event, 2)"
        class="button-dropdown">
      </filter-dropdown>
      <div class="chips-container-margin">
        <mat-chip-listbox>
          <div *ngFor="let option of thirdOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="dropdown-wrapper" [class.hide]="dropdownHidden">
      <div class="select-dataset-text">Select a dataset</div>
      <mat-radio-group aria-label="Select an option" (change)="selectDataset($event.value, 1)">
        <mat-radio-button *ngFor="let option of datasetOptions" [value]="option">{{option}}</mat-radio-button>
      </mat-radio-group>
      <filter-dropdown 
        [label]="selectedDatasetTwoLabel"
        [dataset]="selectedDatasetTwo"
        [icon]="datasetTwoIcon"
        [showBadge]="true"
        [limit]="3"
        (dropdownSelectionChange)="updateSelectedItems($event, 3)"
        [datasetChanged$]="datasetTwoChanged$"
        class="button-dropdown">
      </filter-dropdown>
      <!-- <div class="chips-container-margin">
        <mat-chip-grid>
          <mat-chip-row *ngFor="let option of fourthOptions" (removed)="remove(option)">
            {{option.value}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
      </div> -->
      <div class="chips-container-margin">
        <mat-chip-listbox>
          <div *ngFor="let option of fourthOptions">
            <mat-chip>{{option.value}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
  </div>
</div>