.parent-container {
  height: 100vh;
	width: 100vw;
	background-color: #FAFAFA;
}

.dropdowns-container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.dropdown-wrapper {
	padding: 18px;
	margin: 6px;
	max-width: 230px;
	border: 1px solid gray;
	border-radius: 10px;
}

.button-dropdown {
	display: flex;
	justify-content: center;
}

:host ::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
	justify-content: center;
}

.chips-container-margin {
	margin-top: 22px;
}

.radio-buttons-container {
	display: grid;
}

.hide {
	display: none;
}

.select-dataset-text {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
}